* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20%;
    background: deepskyblue;
}
body article {
    background: #303030;
    border-radius: 21px;
    padding: 3%;
}
body article h1 {
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 30px;
}
body article h3 strong {
    font-weight: bolder;
    letter-spacing: 1px;
    color: deepskyblue;
}